# Información y Programación Financiera, TI, Algoritmos y Ciencia de Datos

Neftalí Valdez

<a href="http://twitter.com/neftalivldz" target="_blank">@neftalivldz</a> | <a href="mailto:nvaldez@tec.mx">nvaldez@tec.mx</a>

In [1]:
from datafromsource import DataFromSource

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#plt.style.use('dark_background')
import warnings
warnings.filterwarnings('ignore')

from numpy.random import random, uniform, dirichlet, choice
from numpy.linalg import inv
from scipy.optimize import minimize
from matplotlib.ticker import FuncFormatter
import math
from datetime import datetime, timedelta
import pandas_datareader.data as web
import lseg.data as ld
import datetime as dt
import talib as ta
from portfoliodata import PortfolioData

In [4]:
ld.open_session()

In [8]:
portfolio = ["AAPL.O", "TSLA.O", "GOOGL.O", 'MSFT.O', 'PPG.N', 'CX.N', 'GM.N']

Stock_0 = DataFromSource(portfolio[0], interval_period="1W", initial = 365*5)
Precios = Stock_0.get_prices()
Rendimientos = Stock_0.get_returns()
Precios

AAPL.O      AAPL.O
Date
2020-09-04  120.96
2020-09-11  112.00
2020-09-18  106.84
2020-09-25  112.28
2020-10-02  113.02
...            ...
2025-08-01  202.38
2025-08-08  229.35
2025-08-15  231.59
2025-08-22  227.76
2025-08-29  232.14

[261 rows x 1 columns]

In [9]:
portfolio = ["AAPL.O", "TSLA.O", "GOOGL.O", 'MSFT.O', 'PPG.N', 'CX.N', 'GM.N']

Stock_0 = DataFromSource(portfolio[0], interval_period="1W", initial = 365*5)
Precios = Stock_0.get_prices()

for stock in portfolio[1:]:
    print(stock)
    stock_info = DataFromSource(stock, interval_period="1W", initial = 365*5)
    w = stock_info.get_prices()
    w1 = w.rename(columns={'Price Close': stock})
    Precios = Precios.join(w1)
Precios

TSLA.O
GOOGL.O
MSFT.O
PPG.N
CX.N
GM.N

            AAPL.O      TSLA.O   GOOGL.O  MSFT.O   PPG.N  CX.N   GM.N
Date
2020-09-04  120.96  139.439861   79.0605  214.25  122.61  3.18  30.00
2020-09-11  112.00  124.239876   75.7880  204.03  127.10  3.79  30.46
2020-09-18  106.84  147.383186   72.5545  200.39  125.77  3.83  31.50
2020-09-25  112.28  135.779864   71.9530  207.82  120.25  3.59  29.00
2020-10-02  113.02  138.363195   72.7800  206.19  123.27  3.77  30.46
...            ...         ...       ...     ...     ...   ...    ...
2025-08-01  202.38  302.630000  189.1300  524.11  104.44  8.40  52.53
2025-08-08  229.35  329.650000  201.4200  522.04  106.95  8.62  53.53
2025-08-15  231.59  330.560000  203.9000  520.17  111.80  8.53  56.31
2025-08-22  227.76  340.010000  206.0900  507.23  114.27  8.90  58.37
2025-08-29  232.14  333.870000  212.9100  506.69  111.23  9.09  58.59

[261 rows x 7 columns]

In [10]:
portfolio = PortfolioData(['AAPL.O', 'TSLA.O', 'GOOGL.O', 'MSFT.O', 'PPG.N', 'CX.N', 'GM.N'], interval_period="1W", initial = 365*5)
portfolio_prices = portfolio.get_portfolio_prices()

AAPL.O
TSLA.O
GOOGL.O
MSFT.O
PPG.N
CX.N
GM.N

In [2]:
portfolio_prices

            AAPL.O      TSLA.O   GOOGL.O  MSFT.O   PPG.N  CX.N   GM.N
Date
2020-09-04  120.96  139.439861   79.0605  214.25  122.61  3.18  30.00
2020-09-11  112.00  124.239876   75.7880  204.03  127.10  3.79  30.46
2020-09-18  106.84  147.383186   72.5545  200.39  125.77  3.83  31.50
2020-09-25  112.28  135.779864   71.9530  207.82  120.25  3.59  29.00
2020-10-02  113.02  138.363195   72.7800  206.19  123.27  3.77  30.46
...            ...         ...       ...     ...     ...   ...    ...
2025-08-01  202.38  302.630000  189.1300  524.11  104.44  8.40  52.53
2025-08-08  229.35  329.650000  201.4200  522.04  106.95  8.62  53.53
2025-08-15  231.59  330.560000  203.9000  520.17  111.80  8.53  56.31
2025-08-22  227.76  340.010000  206.0900  507.23  114.27  8.90  58.37
2025-08-29  232.14  333.870000  212.9100  506.69  111.23  9.09  58.59

[261 rows x 7 columns]

In [3]:
portfolio_returns = portfolio.get_portfolio_returns()

AAPL.O
TSLA.O
GOOGL.O
MSFT.O
PPG.N
CX.N
GM.N

In [4]:
portfolio_returns

,AAPL.O,TSLA.O,GOOGL.O,MSFT.O,PPG.N,CX.N,GM.N
Date,,,,,,,
2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-11,-0.076961,-0.115419,-0.042273,-0.048877,0.035966,0.175485,0.015217
2020-09-18,-0.047166,0.170822,-0.043602,-0.018002,-0.010519,0.010499,0.033573
2020-09-25,0.049663,-0.082001,-0.008325,0.036407,-0.044882,-0.064713,-0.082692
2020-10-02,0.006569,0.018847,0.011428,-0.007874,0.024804,0.048923,0.049119
...,...,...,...,...,...,...,...
2025-08-01,-0.055268,-0.043421,-0.021188,0.020043,-0.104546,-0.001190,-0.016426
2025-08-08,0.125102,0.085521,0.062958,-0.003957,0.023749,0.025853,0.018858
2025-08-15,0.009719,0.002757,0.012237,-0.003589,0.044350,-0.010496,0.050630
2025-08-22,-0.016676,0.028187,0.010683,-0.025191,0.021853,0.042462,0.035930
2025-08-29,0.019048,-0.018223,0.032557,-0.001065,-0.026964,0.021124,0.003762

In [14]:
spx = ld.get_data('0#.SPX', fields=['TR.CommonName', 'TR.PriceClose',
                                      'TR.Volume', 'TR.TotalReturnYTD'])

In [15]:
spx

,Instrument,Company Common Name,Price Close,Volume,YTD Total Return
0,POOL.OQ,Pool Corp,304.74,170358,-9.593063
1,CHRW.OQ,CH Robinson Worldwide Inc,128.79,421168,26.21753
2,AJG.N,Arthur J. Gallagher & Co.,303.7,369412,7.41974
3,CNP.N,CenterPoint Energy Inc,37.62,1239547,20.736346
4,AMCR.N,Amcor PLC,8.35,4609613,-8.874587
...,...,...,...,...,...
498,PSX.N,Phillips 66,130.53,729328,17.889279
499,SCHW.N,Charles Schwab Corp,96.22,2189632,31.227301
500,SNPS.OQ,Synopsys Inc,592.12,315661,21.996044
501,J.N,Jacobs Solutions Inc,143.37,202687,9.182623
502,AVY.N,Avery Dennison Corp,166.8,178634,-9.456603

In [ ]:
# TODO
1 Calcular el rendimiento y el riesgo S&P 500  -- get returns -- ld.get_history
2 Identificar a las empresas del S&P500  -- ld.get_data('0#.SPX',
3 Elegir de forma aleatoria a 50 empresas  -- habría que generar una función. 
4 Función que nos traiga el precio de las 50 empresas -- get_portfolio_prices
5 If the index itself is below its 200-day moving average, we don’t buy. -- backtesting sma
6 Calcular el rendimiento y el riesgo de las 50 empresas seleccionadas  -- falta adecuarlo
  - Elegir de forma aleatoria a 50 empresas (score de aleatoreidad)
  - Asignar los pesos de cada instrumento del portafolio (de forma aleatoria)

Mes  SP500 PortafolioAleatorio
1    100   100
2    103   104

In [46]:
#1 Calcular el rendimiento y el riesgo S&P 500

Stock_0 = DataFromSource('.SPX', interval_period="1D", initial = 365*10)
Precios = Stock_0.get_prices()
Rendimientos = Stock_0.get_returns()

In [47]:
Precios[f'SMA_200'] = ta.SMA(Precios['.SPX'], timeperiod=200)
Precios['bear_market'] = Precios['.SPX'] < Precios[f'SMA_200']
Precios = Precios.reset_index()
Precios['year_month'] = Precios['Date'].dt.to_period('M')
max_day_indices = Precios.groupby('year_month')['Date'].idxmax()
Precios_max_day = Precios.loc[max_day_indices]
Precios_max_day = Precios_max_day.dropna()
Precios_max_day.set_index('Date', inplace = True)
Precios_max_day

.SPX           .SPX     SMA_200  bear_market year_month
Date
2016-06-30  2098.86  2022.61290        False    2016-06
2016-07-29  2173.60  2041.35845        False    2016-07
2016-08-31  2170.95  2054.37880        False    2016-08
2016-09-30  2168.27  2063.76425        False    2016-09
2016-10-31  2126.15  2078.84335        False    2016-10
...             ...         ...          ...        ...
2025-05-30  5911.69  5785.23755        False    2025-05
2025-06-30  6204.95  5833.12690        False    2025-06
2025-07-31  6339.39  5898.81035        False    2025-07
2025-08-29  6460.26  5959.46595        False    2025-08
2025-09-03  6448.26  5963.85825        False    2025-09

[112 rows x 4 columns]

In [26]:
spx = ld.get_data('0#.SPX', fields=['TR.CommonName', 'TR.PriceClose',
                                      'TR.Volume', 'TR.TotalReturnYTD'])
spx

,Instrument,Company Common Name,Price Close,Volume,YTD Total Return
0,POOL.OQ,Pool Corp,315.8,147408,-9.593063
1,CHRW.OQ,CH Robinson Worldwide Inc,127.84,489497,26.21753
2,AJG.N,Arthur J. Gallagher & Co.,300.22,441130,7.41974
3,CNP.N,CenterPoint Energy Inc,37.46,2520327,20.736346
4,AMCR.N,Amcor PLC,8.35,4570547,-8.874587
...,...,...,...,...,...
498,PSX.N,Phillips 66,131.58,547640,17.889279
499,SCHW.N,Charles Schwab Corp,97.63,1338166,31.227301
500,SNPS.OQ,Synopsys Inc,601.96,349054,21.996044
501,J.N,Jacobs Solutions Inc,143.74,213090,9.182623
502,AVY.N,Avery Dennison Corp,167.03,244677,-9.456603

In [29]:
spx_50 = spx.sample(n=50, random_state=42)
spx_50['random_numbers'] = np.random.rand(len(spx_50))
column_sum = spx_50['random_numbers'].sum()
spx_50['portfolio_share'] = spx_50['random_numbers'] / column_sum
spx_50

,Instrument,Company Common Name,Price Close,Volume,YTD Total Return,random_numbers,portfolio_share
268,GPN.N,Global Payments Inc,87.28,368242,-22.111725,0.496783,0.019180
73,CINF.OQ,Cincinnati Financial Corp,155.59,98073,8.113797,0.455445,0.017584
289,K.N,Kellanova,79.48,1143523,-0.30072,0.981410,0.037890
155,LEN.N,Lennar Corp,138.07,822544,2.984817,0.186343,0.007194
104,JBHT.OQ,J B Hunt Transport Services Inc,145.28,313465,-14.039801,0.878705,0.033925
280,DG.N,Dollar General Corp,108.44,698882,47.572031,0.568523,0.021949
392,VMC.N,Vulcan Materials Co,292.33,263143,12.622415,0.754309,0.029122
124,FRT.N,Federal Realty Investment Trust,100.99,112076,-7.619171,0.158614,0.006124
68,PODD.OQ,Insulet Corp,346.47,201446,31.585399,0.809425,0.031250
244,FANG.OQ,Diamondback Energy Inc,142.74,576597,-11.284967,0.444585,0.017164
9,WY.N,Weyerhaeuser Co,25.55,994194,-9.779394,0.816488,0.031523
195,AWK.N,American Water Works Co Inc,141.57,468876,15.096551,0.206372,0.007968
304,GDDY.N,GoDaddy Inc,144.92,348615,-27.298982,0.687046,0.026525
84,PCG.N,PG&E Corp,15.23,4262820,-23.687286,0.482844,0.018641
373,VRSK.OQ,Verisk Analytics Inc,270.05,372858,-2.244361,0.239092,0.009231
390,TJX.N,TJX Companies Inc,141.02,1241104,16.530959,0.095469,0.003686
498,PSX.N,Phillips 66,131.58,547640,17.889279,0.979655,0.037822
30,REG.OQ,Regency Centers Corp,73.56,521602,-0.363335,0.760266,0.029352
317,HOLX.OQ,Hologic Inc,66.39,652400,-8.114856,0.004249,0.000164
407,BKR.OQ,Baker Hughes Co,46.32,2869101,11.517001,0.419547,0.016198
493,NRG.N,NRG Energy Inc,147.95,421901,64.594373,0.963377,0.037194
494,MKTX.OQ,Marketaxess Holdings Inc,180.13,326770,-18.741584,0.718239,0.027730
225,BDX.N,Becton Dickinson and Co,191.26,390059,-15.535198,0.681963,0.026329
227,HUBB.N,Hubbell Inc,437.16,119324,3.393182,0.519013,0.020038
76,TMUS.OQ,T-Mobile US Inc,252.12,1116420,15.658889,0.402357,0.015534
464,ABT.N,Abbott Laboratories,132.81,1027085,18.55903,0.133978,0.005173
473,IRM.N,Iron Mountain Inc,91.08,323702,-13.140896,0.627467,0.024225
402,CAT.N,Caterpillar Inc,420.22,414419,15.832459,0.798338,0.030822
101,ESS.N,Essex Property Trust Inc,264.5,128926,-5.96064,0.313354,0.012098
335,PFE.N,Pfizer Inc,24.54,6655346,-1.506126,0.284029,0.010966
296,ODFL.OQ,Old Dominion Freight Line Inc,148.81,887104,-15.599164,0.585921,0.022621
222,COIN.OQ,Coinbase Global Inc,306.8,1771600,21.751913,0.317900,0.012273
474,DOC.N,Healthpeak Properties Inc,18.0,1139206,-8.599138,0.390465,0.015075
173,AOS.N,A O Smith Corp,72.64,389845,5.332845,0.318457,0.012295
2,AJG.N,Arthur J. Gallagher & Co.,300.22,441130,7.41974,0.220766,0.008523
334,VLTO.N,Veralto Corp,106.6,425656,3.390496,0.059630,0.002302
272,HLT.N,Hilton Worldwide Holdings Inc,278.06,441467,11.457028,0.326737,0.012615
70,AVB.N,AvalonBay Communities Inc,192.72,279366,-11.676828,0.604184,0.023326
210,AEE.N,Ameren Corp,100.88,591063,13.744701,0.902438,0.034841
63,ARE.N,Alexandria Real Estate Equities Inc,82.89,227917,-13.657402,0.541681,0.020913
347,DPZ.OQ,Domino's Pizza Inc,462.6,163685,12.042753,0.316241,0.012209
93,PCAR.OQ,Paccar Inc,98.21,867595,-6.570714,0.924519,0.035694
488,HAS.OQ,Hasbro Inc,80.4,667426,45.683548,0.833378,0.032175
185,TDY.N,Teledyne Technologies Inc,547.0,71452,17.346433,0.322657,0.012457
33,TRV.N,Travelers Companies Inc,279.43,316575,15.755323,0.922849,0.035629
77,CB.N,Chubb Ltd,279.88,362774,1.348245,0.453725,0.017517
0,POOL.OQ,Pool Corp,315.8,147408,-9.593063,0.635267,0.024526
11,HD.N,Home Depot Inc,411.69,1078705,6.163816,0.916259,0.035375
310,ORLY.OQ,O'Reilly Automotive Inc,105.04,1387770,31.353703,0.310883,0.012002
22,COST.OQ,Costco Wholesale Corp,955.9,503998,4.04802,0.130332,0.005032

In [31]:
lista_activos = spx_50['Instrument'].tolist()
lista_activos

['GPN.N',
 'CINF.OQ',
 'K.N',
 'LEN.N',
 'JBHT.OQ',
 'DG.N',
 'VMC.N',
 'FRT.N',
 'PODD.OQ',
 'FANG.OQ',
 'WY.N',
 'AWK.N',
 'GDDY.N',
 'PCG.N',
 'VRSK.OQ',
 'TJX.N',
 'PSX.N',
 'REG.OQ',
 'HOLX.OQ',
 'BKR.OQ',
 'NRG.N',
 'MKTX.OQ',
 'BDX.N',
 'HUBB.N',
 'TMUS.OQ',
 'ABT.N',
 'IRM.N',
 'CAT.N',
 'ESS.N',
 'PFE.N',
 'ODFL.OQ',
 'COIN.OQ',
 'DOC.N',
 'AOS.N',
 'AJG.N',
 'VLTO.N',
 'HLT.N',
 'AVB.N',
 'AEE.N',
 'ARE.N',
 'DPZ.OQ',
 'PCAR.OQ',
 'HAS.OQ',
 'TDY.N',
 'TRV.N',
 'CB.N',
 'POOL.OQ',
 'HD.N',
 'ORLY.OQ',
 'COST.OQ']

In [34]:
portfolio = PortfolioData(lista_activos, interval_period="1D", initial = 365*10)
portfolio_prices = portfolio.get_portfolio_prices()

GPN.N
CINF.OQ
K.N
LEN.N
JBHT.OQ
DG.N
VMC.N
FRT.N
PODD.OQ
FANG.OQ
WY.N
AWK.N
GDDY.N
PCG.N
VRSK.OQ
TJX.N
PSX.N
REG.OQ
HOLX.OQ
BKR.OQ
NRG.N
MKTX.OQ
BDX.N
HUBB.N
TMUS.OQ
ABT.N
IRM.N
CAT.N
ESS.N
PFE.N
ODFL.OQ
COIN.OQ
DOC.N
AOS.N
AJG.N
VLTO.N
HLT.N
AVB.N
AEE.N
ARE.N
DPZ.OQ
PCAR.OQ
HAS.OQ
TDY.N
TRV.N
CB.N
POOL.OQ
HD.N
ORLY.OQ
COST.OQ

In [35]:
portfolio_prices

,GPN.N,CINF.OQ,K.N,LEN.N,JBHT.OQ,DG.N,VMC.N,FRT.N,PODD.OQ,FANG.OQ,...,DPZ.OQ,PCAR.OQ,HAS.OQ,TDY.N,TRV.N,CB.N,POOL.OQ,HD.N,ORLY.OQ,COST.OQ
Date,,,,,,,,,,,,,,,,,,,,,
2015-09-08,56.715,52.417393,63.356042,49.748091,76.640,73.05,98.51,128.15,29.05,64.949955,...,109.00,33.832355,76.290,98.57,99.65,101.97,71.29,116.43,15.900080,129.520857
2015-09-09,56.070,52.062488,62.079913,49.101641,75.575,71.98,98.64,126.27,28.86,62.769196,...,108.18,33.703134,75.280,97.70,98.48,100.73,70.98,113.97,15.948746,127.918216
2015-09-10,56.465,52.269516,62.258195,48.692857,75.700,69.90,98.25,126.73,28.88,64.535032,...,107.93,33.679640,76.030,97.78,99.09,100.74,71.05,114.49,16.082747,128.220428
2015-09-11,57.040,52.673713,62.858727,49.662531,76.560,70.36,99.13,129.36,29.11,63.985017,...,110.22,33.755997,76.750,98.02,99.49,100.86,72.19,115.44,16.390082,129.172855
2015-09-14,56.300,52.161073,62.614761,49.767104,75.860,69.10,99.84,129.57,28.68,63.415704,...,110.29,33.515177,77.580,96.28,99.28,100.21,71.91,114.73,16.284748,129.264434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-08-28,88.220,153.400000,79.470000,133.130000,143.980,111.71,291.16,99.82,337.60,149.170000,...,448.96,100.680000,81.600,542.09,270.28,273.25,314.97,407.45,103.990000,944.960000
2025-08-29,88.820,153.600000,79.500000,133.140000,144.990,108.76,291.16,100.55,339.88,148.760000,...,458.30,99.980000,81.170,538.17,271.51,275.07,310.71,406.77,103.680000,943.320000
2025-09-02,86.990,152.950000,78.940000,132.680000,144.250,110.46,292.49,99.14,344.92,149.860000,...,467.30,98.860000,79.745,537.91,273.35,276.81,305.07,406.31,103.190000,938.820000
2025-09-03,86.760,153.530000,79.040000,134.080000,145.380,109.69,288.05,100.07,343.53,142.290000,...,466.60,96.220000,79.030,544.64,276.55,278.22,304.74,407.71,103.840000,949.780000
2025-09-04,87.280,155.590000,79.480000,138.070000,145.280,108.44,292.33,100.99,346.47,142.740000,...,462.60,98.210000,80.400,547.00,279.43,279.88,315.80,411.69,105.040000,955.900000

In [71]:
Precios_union = Precios_max_day.join(portfolio_prices)
Precios_union.to_csv('output.csv')

In [70]:
for index, row in Precios_union.iterrows():
    print(row['bear_market'], row['GPN.N'], shares[0]*1000000/row['GPN.N'])

False 71.38 268.6979770310893
False 74.66 256.8934047747007
False 75.95 252.53010665542007
False 76.76 249.86531527461116
False 72.52 264.47409818641967
False 68.55 279.7908329756259
False 69.41 276.3241838420855
False 77.28 248.1840269213141
False 79.69 240.67839880134466
False 80.68 237.72510659989032
False 81.76 234.58490215850236
False 91.61 209.36209584629574
False 90.32 212.3523206430376
False 94.37 203.23897001673365
False 95.49 200.85518484112634
False 95.03 201.8274397609087
False 103.95 184.50852910513856
False 100.56 190.72853620206
False 100.24 191.33740622983993
False 111.78 171.58401861226653
False 113.39 169.14773437233578
False 111.52 171.98405308894507
False 113.05 169.65644936292927
False 111.16 172.54103634831912
False 111.49 172.0303309756853
False 112.57 170.37986675383456
False 124.58 153.95458019328265
False 127.4 150.54679435226964
True 114.23 167.9038921516165
True 111.81 171.53798050692384
True 103.13 185.975580340145
True 112.28 170.81992875382218
False 130.38 147.10585673016686
False 136.52 140.48975681569846
False 146.07 131.30459095282504
True 154.04 124.51091664813785
False 160.13 119.77556735451917
False 167.92 114.21904240399688
False 165.98 115.5540522983441
False 159.0 120.62680251873682
False 169.18 113.36837451518592
False 181.1 105.9064693565939
False 182.56 105.05949605871578
False 195.45 98.13078332299389
True 183.97 104.2542892889012
True 144.23 132.97969632170253
True 166.02 115.52621130272951
False 179.49 106.85643545868379
False 169.62 113.0742931286355
False 178.02 107.73880238444643
False 176.62 108.59280715932032
False 177.58 108.0057529027996
False 157.74 121.59034867807247
False 195.19 98.26149700537503
False 215.42 89.03380187763047
False 176.52 108.65432585814159
False 197.99 96.87187029889971
False 201.58 95.14664947157036
False 214.63 89.36151330419398
False 193.71 99.01224304619872
False 187.54 102.26971099754269
False 193.41 99.165821831752
False 162.64 117.92708805016697
False 157.58 121.71380632363976
False 142.99 134.13288761786944
False 119.04 161.11946909004664
False 135.18 141.88239088977033
False 149.88 127.96678409713874
True 133.38 143.7971330070412
False 136.84 140.16122186845334
True 136.98 140.0179705101413
True 131.04 146.3649389535955
True 110.64 173.351966743304
True 122.32 156.79906475211865
True 124.23 154.3883248851256
True 108.05 177.50727996741466
True 114.26 167.85980746087128
False 103.78 184.81076893890108
True 99.32 193.109762389037
False 112.72 170.15313698082997
False 112.2 170.9417254944666
False 105.24 182.24687951804594
False 112.71 170.16823352390344
False 97.69 196.3318824903179
False 98.52 194.67784815752287
False 110.25 173.96518458484493
False 126.69 151.39049333395812
False 115.39 166.21597712522015
True 106.22 180.56544530671394
False 116.44 164.7171212682854
False 127.0 151.02095748408783
False 133.23 143.95903025203899
False 129.7 147.87711334216775
False 133.66 143.49589705580692
False 122.77 156.22433493914764
False 101.85 188.3128286743167
False 96.7 198.34189866059103
False 101.64 188.70190476661898
False 111.01 172.77417890711786
False 102.42 187.26480765943325
False 103.71 184.93550863445333
False 118.96 161.2278211203695
False 112.06 171.15528824271956
False 112.85 169.9571253919287
False 105.28 182.17763678266672
True 97.92 195.87072712907633
True 76.31 251.33877080958135
False 75.61 253.66567385900217
False 80.04 239.62595702747566
False 79.95 239.89570482150285
False 88.82 215.9385453780585
False 86.76 221.06571692576247

In [61]:
shares  = spx_50['portfolio_share'].tolist()
shares[0]*1000000

19179.661600479154

In [66]:
for share in range(0,1):
    print(share)

0

In [67]:
shares

[0.019179661600479153,
 0.0175836653701183,
 0.037889952414656064,
 0.007194281373037741,
 0.0339247765232265,
 0.021949375265924897,
 0.029122115338279065,
 0.006123737985938087,
 0.03125002222777856,
 0.017164401302657624,
 0.0315227156316056,
 0.007967546726651138,
 0.02652527359589058,
 0.018641481871434065,
 0.009230783951034376,
 0.0036858452072626694,
 0.037822231044777,
 0.02935211538761626,
 0.00016404392908517566,
 0.016197758625160787,
 0.037193752477324225,
 0.02772954916669464,
 0.026329023757838407,
 0.020037887380292666,
 0.015534082974750535,
 0.005172583081930193,
 0.024225054673571368,
 0.03082198828910503,
 0.012097874684572454,
 0.010965684038594528,
 0.02262104722237465,
 0.012273398480714574,
 0.015074943237399836,
 0.012294905026385368,
 0.008523266812799,
 0.0023021795554596797,
 0.012614555211746797,
 0.02332612953914735,
 0.03484104730422234,
 0.020913057768432084,
 0.012209315740979105,
 0.035693544194597804,
 0.0321748166859043,
 0.012457043458726709,
 0.035629066037768685,
 0.017517269596220634,
 0.024526185669790066,
 0.035374650628148915,
 0.012002482629066844,
 0.005031829302827519]