In [10]:
import lseg.data as ld
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#plt.style.use('dark_background')
import warnings
warnings.filterwarnings('ignore')
from datafromsource import DataFromSource
import datetime as dt
from numpy.random import random, uniform, dirichlet, choice
from numpy.linalg import inv
from scipy.optimize import minimize
from matplotlib.ticker import FuncFormatter
import math
from datetime import datetime, timedelta
import pandas_datareader.data as web

In [4]:
ld.open_session()

In [23]:
df = ld.get_data(universe = 'AAPL.O', fields=['TR.BGS.GeoTotalRevenue.segmentName', 'TR.BGS.GeoTotalRevenue','TR.CompanyName'])
df.to_csv('AAPL.GeoTotalRevenue')

In [20]:
# Se define la fecha para la extracción de datos
end = dt.datetime.now().date()
start = end - dt.timedelta(days=10 * 365)
print(start, end)

df = ld.get_data(
        universe=["MSFT.O"],
        fields=["TR.RevenueMean(Period=FY1).calcdate", 'TR.CLOSEPRICE', "TR.FWDPE", "TR.PE", "TR.EPSMean", "TR.RevenueMean(Period=FY1)"],
    parameters={'SDate': str(start), 'EDate': str(end)}
    )
df.set_index("Calc Date", inplace = True)
df

2015-10-25 2025-10-22

,Instrument,Close Price,Forward P/E (Daily Time Series Ratio),P/E (Daily Time Series Ratio),Earnings Per Share - Mean,Revenue - Mean
Calc Date,,,,,,
2015-10-26,MSFT.O,<NA>,18.934182,35.644592,2.75007,92663896850
2015-10-27,MSFT.O,<NA>,18.689219,35.276648,2.7584,92827052720
2015-10-28,MSFT.O,<NA>,18.764845,35.467191,2.76207,92827052720
2015-10-29,MSFT.O,<NA>,18.528717,35.059824,2.7654,92827052720
2015-10-30,MSFT.O,<NA>,18.272654,34.586753,2.7654,92827052720
...,...,...,...,...,...,...
2025-10-16,MSFT.O,<NA>,31.43809,37.505122,15.4922,322275951520
2025-10-17,MSFT.O,<NA>,31.543669,37.649539,15.49294,322289747820
2025-10-20,MSFT.O,<NA>,31.698568,37.884858,15.49294,322289747820
2025-10-21,MSFT.O,<NA>,31.738307,37.948636,15.49426,322310144110
2025-10-22,MSFT.O,<NA>,31.738307,37.948636,15.495,322308425320

In [21]:
df.to_csv('fundamentals_MSFT.csv')

In [22]:
# Se define la fecha para la extracción de datos
end = dt.datetime.now().date()
start = end - dt.timedelta(days=10 * 365)
print(start, end)

df = ld.get_data(
        universe=["AAPL.O"],
        fields=["TR.RevenueMean(Period=FY1).calcdate", 'TR.CLOSEPRICE', "TR.FWDPE", "TR.PE", "TR.EPSMean", "TR.RevenueMean(Period=FY1)"],
    parameters={'SDate': str(start), 'EDate': str(end)}
    )
df.set_index("Calc Date", inplace = True)
df.to_csv('fundamentals_AAPL.csv')

2015-10-25 2025-10-22